* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

header {
    overflow: hidden;
    background: tan;
}

.headerBox {
    max-width: 1100px;
    margin:20px auto;
}

#logo {
    float: left;
}
nav {
    height: 50px;
    float: right;
}

nav ul {
    float: right;
}
nav li {
    float: left;
    list-style-type: none;
    margin-left: 30px;
}
nav a {
    text-decoration: none;
}