* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: rgb(208, 231, 224);
    line-height: 1.5;
}

#wrapper {
    max-width: 1100px;
    margin: 20px auto;
}

header {
    background: rgb(243, 250, 224);
    height: 200px;
    overflow: hidden;
}

/* .success {
    float: left;
    padding: 10px;
    border: 1px solid blue;
} */

.welcome-logout {
    float: right;
    padding: 10px;
    border: 1px solid blue;
}

#wrapper {
    clear: both;
    width: 940px;
    margin: 0 auto;
}
/* form styles */
.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

fieldset {
    padding: 10px;
}

form {
    width: 500px;
    margin: 0  auto;
}

h1 {
    text-align: center;
    margin: 10px 0;
}

.block {
    display: block;
    text-align: center;
    font-style: italic;
}

h3{
    text-align: center;
    margin: 10px 0;
}

.error {
    margin: 10px 0;
    color: red;
    font-style: italic;
}


footer {
    height: 50px;
    line-height: 50px;
    border-top: 1px dotted #333;
    clear: both;
    font-family: sans-serif;
}

footer ul {
    margin: 0 auto;
    width: 740px;
}

footer li {
    float: left;
    list-style-type: none;
    margin-left: 20px;
}




.headerBox {
    max-width: 1100px;
    margin: 20px auto;
}

#logo {
    float: left;
    width: 160px;
    margin-bottom: 20px;
}

nav {
    height: 50px;
    float: right;
}

nav ul {
    float: right;
}

nav li {
    float: left;
    list-style-type: none;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
}

.current {
    color: red;
    font-weight: bold;
}

#wrapper {
    max-width: 1100px;
    margin: 20px auto;
}

#hero {
    height: 300px;
    margin-bottom: 20px;
    background: rosybrown;
}


#image {
    max-width:100%;
    height:auto;
}

.inset {
    padding-left: 20px;
    padding-top: 20px;
}

.inset ul {
    padding-left: 20px;
    text-decoration: none;
}


main {
    width: 61.7%;
    background: lightblue;
    float: left;
    margin-bottom: 20px;
}

.container{
    height: fit-content;
}

aside {
    width: 36.17%;
    float: right;
    height: 300px;
    background: lightgoldenrodyellow;
    margin-bottom: 10px;
}


.error {
    display: block;
    color: red;
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 5px;
}

form .contactForm {
    width: 400px;
    margin: 30px;
}

.contactForm .label {
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.contactForm ul label {
    color: #333;
    margin-bottom: 5px;
    display: inline-block;
}

.contactForm form ul {
    margin-left: 10px;
    margin-bottom: 10px;
    list-style-type: none;
}

.contactForm fieldset {
    padding: 8px;
}

.blurb {
    font-style: italic;
    font-size: .9em;
}

.center {
    display: block;
    margin: 0 auto 20px auto;
}

.labels li {
    margin: 0 20px;
}

hr {
    display: block;
    margin: 0 20px 20px 20px;
    border: 1px solid blue;
}

p {
    margin: 0 30px;
    line-height: 1.35;
}

main ul {
    margin-bottom: 10px;
    list-style-type: none;
}

table {
    width: 400px;
    margin: 20px auto;

}
td {
    height: 200px;
    margin: 5px;
}
td img {
    width: 200px;
}
